<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (1...6).to_a %>
  <%= f.button :submit, class: "btn btn-outline-secondary" %>
<% end %>